{% extends "index.html" %}
{% comment %} Template tag base:start {% endcomment %}

{% load static %}
{% block title %}Category{% endblock %}
{% block header_name %}Category{% endblock %}
{% block header_name_sub %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
    <li class="breadcrumb-item">
        <a href="" class="text-muted">Add</a>
    </li>
</ul>
{% endblock header_name_sub %}

{% comment %} Template tag base:end {% endcomment %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block content %}
    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">

        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-2">
                        <form action="" id="create_category" class="form">
                            <div class="card card-custom">
                                <div class="card-header border-bottom">
                                    <div class="card-title">
                                        <h5 class="card-label">
                                            <i class="fas fa-edit icon-lg mr-1"></i>
                                            Add Category
                                        </h5>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>Category Name *</label>
                                            <input type="text" class="form-control" name="category" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-end">
                                        <button type="submit"
                                            class="btn btn-light-success btn-lg mr-2 font-weight-bold ">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-7">
                        <div class="card card-custom">
                            <div class="card-header border-bottom">
                                <div class="card-title">
                                    <h5 class="card-label">
                                        <i class="fas fa-list icon-lg mr-1"></i>
                                        Category List
                                    </h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <!--begin: Datatable-->
                                <table class="table table-separate table-head-custom" id="datatable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Invistigation</td>
                                            <td>
                                                <a href="#" class="btn btn-icon btn-outline-success btn-sm mr-2"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fas fa-pen"></i></a>
                                                <a href="#" class="btn btn-icon btn-outline-danger btn-sm mr-2"><i
                                                        class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>2</td>
                                            <td>Nephrology</td>
                                            <td>
                                                <a href="#" class="btn btn-icon btn-outline-success btn-sm mr-2"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fas fa-pen"></i></a>
                                                <a href="#" class="btn btn-icon btn-outline-danger btn-sm mr-2"><i
                                                        class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>3</td>
                                            <td>Medicine</td>
                                            <td>
                                                <a href="#" class="btn btn-icon btn-outline-success btn-sm mr-2"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fas fa-pen"></i></a>
                                                <a href="#" class="btn btn-icon btn-outline-danger btn-sm mr-2"><i
                                                        class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>4</td>
                                            <td>General Surgery</td>
                                            <td>
                                                <a href="#" class="btn btn-icon btn-outline-success btn-sm mr-2"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fas fa-pen"></i></a>
                                                <a href="#" class="btn btn-icon btn-outline-danger btn-sm mr-2"><i
                                                        class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>5</td>
                                            <td>Orthopedic</td>
                                            <td>
                                                <a href="#" class="btn btn-icon btn-outline-success btn-sm mr-2"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fas fa-pen"></i></a>
                                                <a href="#" class="btn btn-icon btn-outline-danger btn-sm mr-2"><i
                                                        class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <!--end: Datatable-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Container-->

            <!--end::Entry-->
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="" id="update_category">
                    <div class="modal-header border-bottom">
                    <h5 class="modal-title">
                        <i class="fas fa-edit icon-lg mr-1"></i>
                        Edit Category
                    </h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-lg-12">

                                <label>Category Name *</label>
                                <input type="text" class="form-control" name="category" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-light-primary btn-lg mr-2 font-weight-bold">Update</button>
                        <button type="button" class="btn btn-light-danger btn-lg mr-2 font-weight-bold"
                        data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        {% endblock content %}
</body>
{% block js %}
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({

            searching: true,

            responsive: true,

            lengthMenu: [5, 10],

            pageLength: 5,

            language: {
                'lengthMenu': 'Display _MENU_',
            },

            ordering: false,
        });
    });
</script>
<script src="{% static "js/pages/crud/forms/validation/category_validation.js" %}"></script>
{% endblock js%}

</html>