{% extends "index.html" %}
{% comment %} Template tag base:start {% endcomment %}

{% load static %}
{% block title %}Patient List{% endblock %}
{% block header_name %}Patient List{% endblock %}
{% block header_name_sub %}
    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
        <li class="breadcrumb-item">
            <a href="" class="text-muted">List</a>
        </li>
    </ul>
{% endblock header_name_sub %}

{% comment %} Template tag base:end {% endcomment %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
{% block content %}
    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">

        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-custom">
                            <div class="card-header ">
                                <div class="card-title">
                                    <h5 class="card-label">
                                        <i class="fas fa-user icon-lg mr-1"></i>
                                        Patient List
                                    </h5>
                                </div>
                                <div class="card-toolbar">
                                    <a href="javaScript:void(0)" class="btn btn-light-warning btn-icon btn-lg mr-2"
                                       id="export_print" data-toggle="tooltip" data-placement="top" title="Print"
                                       data-theme="dark">
                                        <i class="fas fa-print"></i>
                                    </a>
                                    <a href="javaScript:void(0)" class="btn btn-light-primary btn-icon btn-lg mr-2"
                                       id="export_pdf" data-toggle="tooltip" data-placement="top" title="PDF"
                                       data-theme="dark">
                                        <i class="fas fa-file-pdf"></i>
                                    </a>
                                    <a href="javaScript:void(0)" class="btn btn-light-success btn-icon btn-lg mr-2"
                                       id="export_excel" data-toggle="tooltip" data-placement="top" title="Excel"
                                       data-theme="dark">
                                        <i class="fas fa-file-excel"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <!--begin: Datatable-->
                                <table class="table table-separate table-head-custom text-center" id="patient">
                                    <thead>
                                    <tr>
                                        <th>Patient Id</th>
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>Birthdate</th>
                                        <th>Category</th>
                                        <th>Gender</th>
                                        <th>Guardian</th>
                                        <th>Blood Group</th>
                                        <th>Mobile No</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for items in all_patient %}
                                        <tr>
                                            <td>{{ items.id }}</td>
                                            <td>
                                                <div class="symbol symbol-50 symbol-lg-50 symbol-circle">
                                                    <img alt="Pic" src="{% static "media/users/100_3.jpg" %}"/>
                                                </div>
                                            </td>
                                            <td>{{ items.name }}</td>
                                            <td>{{ items.birthdate|date:'j/n/Y' }}</td>
                                            <td>{{ items.category }}</td>
                                            <td>{{ items.gender }}</td>
                                            <td>{{ items.guardian_name }}</td>
                                            <td>{{ items.blood_group }}</td>
                                            <td>{{ items.mobile_no }}</td>
                                            <td>
                                                {% csrf_token %}
                                                <a href="{% url 'Patient:add' %}"
                                                   class="btn btn-icon btn-outline-success btn-sm mr-2"
                                                   type="button">
                                                    <i class="fas fa-pen"></i>
                                                </a>

                                                <a class="btn btn-icon btn-outline-danger btn-sm btn-del mr-2"
                                                   type="button" data-info="{{ items.id }}"
                                                   id="patient_delete"><i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!--end: Datatable-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</body>
{% block js %}
    <script src="{% static "js/table/patient_list.js" %}"></script>
    {#    <script src="{% static "js/pages/features/miscellaneous/sweetalert2.js" %}"></script>#}
    <script>
        $(".table").on('click', '#patient_delete', function () {
            let id = $(this).attr("data-info");
            let mythis = this;
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!"
            }).then(function (result) {
                if (result.value) {
                    let csrf = $("input[name=csrfmiddlewaretoken]").val();
                    info = {pid: id, csrfmiddlewaretoken: csrf}
                    $.ajax({
                        url: '{% url 'Patient:delete' %}',
                        method: "POST",
                        data: info,
                        success: function (data) {
                            if (data.deleted === 1) {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success",
                                    confirmButtonText: "Ok",
                                }).then(function (result){
                                    if (result.value){
                                        location.reload();
                                    }
                                    else {
                                        location.reload();
                                    }
                                });
                            }
                        }
                    });
                } else if (result.dismiss === "cancel") {
                    Swal.fire(
                        "Cancelled",
                        "Your Record is safe",
                        "error"
                    )
                }
            });
        });


    </script>
{% endblock js %}
</html>