{% extends "index.html" %}
{% comment %} Template tag base:start {% endcomment %}

{% load static %}
{% block title %}Patient List{% endblock %}
{% block header_name %}Patient List{% endblock %}
{% block header_name_sub %}
    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
        <li class="breadcrumb-item">
            <a href="" class="text-muted">List</a>
        </li>
    </ul>
{% endblock header_name_sub %}

{% comment %} Template tag base:end {% endcomment %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
{% block content %}
    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">

        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-custom">
                            <div class="card-header border-bottom">
                                <div class="card-title">
                                    <h5 class="card-label">
                                        <i class="fas fa-user icon-lg mr-1"></i>
                                        Patient List
                                    </h5>
                                </div>
                                <div class="card-toolbar">
                                    <a href="javaScript:void(0)" class="btn btn-light-warning btn-icon btn-lg mr-2"
                                       id="export_print" data-toggle="tooltip" data-placement="top" title="Print"
                                       data-theme="dark">
                                        <i class="fas fa-print"></i>
                                    </a>
                                    <a href="javaScript:void(0)" class="btn btn-light-primary btn-icon btn-lg mr-2"
                                       id="export_pdf" data-toggle="tooltip" data-placement="top" title="PDF"
                                       data-theme="dark">
                                        <i class="fas fa-file-pdf"></i>
                                    </a>
                                    <a href="javaScript:void(0)" class="btn btn-light-success btn-icon btn-lg mr-2"
                                       id="export_excel" data-toggle="tooltip" data-placement="top" title="Excel"
                                       data-theme="dark">
                                        <i class="fas fa-file-excel"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <!--begin: Datatable-->
                                <table class="table table-separate table-head-custom text-center" id="patient">
                                    <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Photo</th>
                                        <th>Patient Id</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Gender</th>
                                        <th>Guardian</th>
                                        <th>Blood Group</th>
                                        <th>Email</th>
                                        <th>Mobile No</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="symbol symbol-50 symbol-lg-50 symbol-circle">
                                                <img alt="Pic" src="{% static "media/users/100_3.jpg" %}"/>
                                            </div>
                                        </td>
                                        <td>P01</td>
                                        <td>John</td>
                                        <td>Orthopedic</td>
                                        <td>Male</td>
                                        <td>Karan Khojiji</td>
                                        <td>O+</td>
                                        <td>Support@gmai.com</td>
                                        <td>0123456789</td>
                                        <td>
                                            <a href="{% url 'Patient:add' %}"
                                               class="btn btn-icon btn-outline-success btn-sm mr-2"><i
                                                    class="fas fa-pen"></i></a>
                                            <a href="#" class="btn btn-icon btn-outline-danger btn-sm mr-2"><i
                                                    class="fas fa-trash" id="delete"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--end: Datatable-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</body>
{% block js %}
    <script src="{% static "js/table/patient_list.js" %}"></script>
    <script>
    $("#delete").click(function(e) {
    Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!"
    }).then(function(result) {
        if (result.value) {
            Swal.fire(
                "Deleted!",
                "Your record has been deleted.",
                "success"
            )
        }
    });
});
    </script>
{% endblock js %}
</html>