{% extends "index.html" %}
{% comment %} Template tag base:start {% endcomment %}

{% load static %}
{% block title %}Patient List{% endblock %}
{% block header_name %}Patient List{% endblock %}
{% block header_name_sub %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
    <li class="breadcrumb-item">
        <a href="" class="text-muted">List</a>
    </li>
</ul>
{% endblock header_name_sub %}

{% comment %} Template tag base:end {% endcomment %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block content %}
    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">

        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
{% block js %}
<script>
    $(document).ready(function () {
        $('#kt_datatable').DataTable({

            searching: true,

            responsive: true,

            lengthMenu: [5, 10],

            pageLength: 5,

            language: {
                'lengthMenu': 'Display _MENU_',
            },

            ordering: false,
        });
    });
</script>
{% endblock js%}

</html>